:root {
    --primary-color: #104e1f;       /* Deep forest green */
    --secondary-color: #665649;     /* Rich bark brown */
    --accent1-color: #5a7d6c;       /* Muted sage green */
    --accent2-color: #d4cbb3;       /* Soft sandstone beige */
    --body-font: Arial, Helvetica, sans-serif;
    --heading-font: "Times New Roman", "Georgia", serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    background: var(--secondary-color)
}

header img {
    padding: 8px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

footer {
    background: var(--accent2-color);
    display: grid;
    grid-template-columns: 70% 30%;
}


h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 8px;
    text-align: center;
    color: white;
    opacity: 0.7;
    background-color: var(--accent1-color);
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
  background-color: var(--accent1-color);
  opacity: 0.8;
  padding: 16px;
  
}


.hero article img {
    float: right;
    width: 75px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.flex-item {
    width: 250px;
    border: 1px solid rgb(0 0 0 / 20%);
    padding: 0.5rem;
    background-color: var(--accent1-color);
    color: #333;
    text-align: center;
    text-decoration: none;
}

.History {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    place-items: center;
}

.History h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
.Adventures {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    align-items: center;
}

.Adventures h2 {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    grid-template-rows: 20% 80%;
    place-items: center;
}

.Adventures img {
    width: 100px;
}

.contactinfo, .employees {
    margin: 16px;
    padding: 8px;
    text-align: center;
}

.mapform {
    margin: 8px;
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
   
}

.mapform iframe {
    max-width: 400px;
}

form {
    padding: 8px;
    text-align: left;
    margin: 8px;
    width: 100%;
}

form input {
    margin: 5px ;
}

.purpose{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 8px;
}

.purpose p {
    align-self: center;
}



button {
    width: 100%;
    height: 40px;
    
    font-size: 1rem;
}

.employees{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--accent1-color);
}

.employees h2 {
    padding: 8px;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    color: var(--accent2-color);
}

.employees img, .employees figcaption {
    background: var(--accent2-color);
}

.employees img {
    padding: 10px;
    width: 150px;
    margin: auto;
}

.employees a {
    color: white
}
