* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding: 0;
    --box-shadow: 0 0 30px gray;
}

nav {
    background-color: rgb(0, 97, 139);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

h1 {
    color: rgb(0, 97, 139);
    border-bottom: 1px solid black;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: var(--padding);
}

aside {
    width: 400px;
    margin: 10px;
    text-align: center;
}

aside img {
    position: relative;
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    margin-left: 110px;
    z-index: 1;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    text-align: center;
    border-top: 1px solid black;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #03c6fc;
    background-color: lightgray;
    color: black;
}

.grid {
    display: grid;
    align-items: center;

    main {
        grid-column: 2/3;
    }

    aside {
        width: 15rem;
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
    }
}